@page "/Index"

<div class="NewsBlock_Container">
    <ul class="NewsBlock">
        
    </ul>
</div>

@code{
    [Parameter] public IEnumerable<DTONews> News { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    /*@foreach (var newsItem in News)
        {
            <li class="NewsBlock_Item">
                <!-- Переделать ссылку. -->
                <a href="/News/Watch?newsName=@newsItem.GetName()"
                   class="NewsBlock_Item__Ref">

                    <span class="NewsBlock_Item__Ref__Title">@newsItem.GetName()</span>
                </a>
            </li>
        }*/
}
