@using NewsSite.UI.ViewModels;
@model RegistrationVM;
@{
    ViewData["Title"] = "Registration Page";
}

<head>
    <link rel="stylesheet" href="../css/RegistrationStyles.css">
</head>
<div class="RegistrationGreetingContainer">
    <span class="RegistrationGreetingContainer__String">
        Мы будем рады Вам на нашем сайте!
    </span>
</div>
<div class="FormContainer">
    <form asp-action="Registration" class="Form">
        <div class="Form_ButtonContainer">
            <span class="InputFile__PreText">Ваше имя</span>
            <input asp-for="NameOfUser" type="text" class="InputText" required>
        </div>
        <div class="Form_ButtonContainer">
            <span class="InputFile__PreText">Ваш Email</span>
            <input asp-for="EmailOfuser" type="email" class="InputText" required>
        </div>
        <div class="Form_ButtonContainer">
            <span class="InputFile__PreText">Повторите ваш Email</span>
            <input asp-for="EmailOfuserConfirm" type="email" class="InputText" required>
        </div>

        <div class="Form_ButtonContainer">
            <button type="submit" class="Form_ButtonContainer__SubmitButton">
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>