@using NewsSite.UI.ViewModels;
@model RegistrationVM;
@{
    ViewData["Title"] = "Registration Page";
}

<head>
    <link rel="stylesheet" href="../css/RegistrationStyles.css">
</head>
<div class="RegistrationGreetingContainer">
    <span class="RegistrationGreetingContainer__String">
        Мы будем рады Вам на нашем сайте!
    </span>
</div>
<div class="FormContainer">
    <form asp-action="Registration" class="AddNewObjectForm">
        <div class="AddNewObjectForm_ButtonContainer">
            <span class="RegistredForm_ButtonContainer__PreInput"> Ваше имя: </span>
            <input asp-for="NameOfUser" type="text" class="RegistredForm_ButtonContainer__Input" required>
        </div>
        <div class="AddNewObjectForm_ButtonContainer">
            <span class="RegistredForm_ButtonContainer__PreInput"> Ваш Email: </span>
            <input asp-for="EmailOfuser" type="email" class="RegistredForm_ButtonContainer__Input" required>
        </div>
        <div class="AddNewObjectForm_ButtonContainer">
            <span class="RegistredForm_ButtonContainer__PreInput"> Повторите ваш Email: </span>
            <input asp-for="EmailOfuserConfirm" type="email" class="RegistredForm_ButtonContainer__Input" required>
        </div>

        <button type="submit">
            <span> Отправить </span>
        </button>
    </form>
</div>