@{
}

<head>
    <link rel="stylesheet" href="../css/RegistrationStyles.css">
</head>
<div class="RegistrationGreetingContainer">
    <span class="RegistrationGreetingContainer__String">
        Мы будем рады Вам на нашем сайте!
    </span>
</div>
<div class="FormContainer">
    <form action="post" class="RegistredForm">
        <div class="RegistredForm_ButtonContainer">
            <span class="RegistredForm_ButtonContainer__PreInput"> Ваше имя: </span>
            <input type="text" class="RegistredForm_ButtonContainer__Input" required>
        </div>
        <div class="RegistredForm_ButtonContainer">
            <span class="RegistredForm_ButtonContainer__PreInput"> Ваш Email: </span>
            <input type="Email" class="RegistredForm_ButtonContainer__Input" required>
        </div>
    </form>
</div>