<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsSite</title>
    <link rel="stylesheet" href="../css/DefaultStyles.css">
</head>
    <body class="LayoutBody">
        <header>
            <div class="Title_Container">
                <span class="Title_Container_Title">The NewsSite</span>
            </div>
            <nav class="NavigationMenu">
                <div class="NavigationMenu_ButtonContainer">
                    <a href="~/User/Registration" class="NavigationMenu_Button"> Регистрация </a>
                </div>
                <div class="NavigationMenu_ButtonContainer">
                    <a href="~/News/AddNews" class="NavigationMenu_Button"> Добавить новость </a>
                </div>
            </nav>
        </header>
        <main role="main" class="MainContentContainer">
            @RenderBody()
        </main>

        <footer>
            <span>Model by Ulyanov Ivan.</span>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
