@using NewsSite.UI.ViewModels
@model AddNewsVM
@{
    ViewData["Title"] = "Add the News Page";
}

<head>
    <link rel="stylesheet" href="../css/AddNewsStyles.css">
</head>
<div class="FormContainer">
    <form asp-action="AddNews" class="AddNewObjectForm">
        <div class="AddNewObjectForm_ButtonContainer">
            <input asp-for="DocFile"
                   class="InputFile"
                   id="DocFile"
                   type="file"
                   required accept=".doc,.docx">
            <label for="DocFile" class="InputFile_Lable">
                <span class="InputFile__Text">Выберите файл для загрузки...</span>
            </label>
        </div>
        <div class="AddNewObjectForm_ButtonContainer">
            <span class="InputFile__Text">Впишите название новости:</span>
            <input asp-for="NameOfNews" class="InputText" type="text" required>
        </div>
        <div class="AddNewObjectForm_ButtonContainer">
            <span class="InputFile__Text">Ваше имя:</span>
            <input asp-for="NameOfAuhtor" class="InputText" type="text" required>
        </div>

        <button class="RegContainer_Submit" type="submit"> Отправить новость </button>
    </form>
</div>