@{
    ViewData["Title"] = "Watch the News Page";
}

<head>
    <link rel="stylesheet" href="../css/WatchStyles.css">
</head>
<div class="NewsContainer">
    <div class="NewsContainer_TitleContainer">
        <h2 class="NewsContainer__Title"> Заголовок новости </h2>
    </div>

    <div class="NewsContainer_Paragraph">
        <h4 class="NewsContainer_Paragraph__Title"> Заголовок параграфа </h4>
        <p class="NewsContainer_Paragraph__Text"> Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Ullam suscipit, labore numquam ea iusto in sed ut id dignissimos deserunt saepe autem corrupti distinctio, voluptates, quia hic quas doloribus, dolorum? </p>
    </div>
    <div class="NewsContainer_Paragraph">
        <h4 class="NewsContainer_Paragraph__Title"> Заголовок параграфа </h4>
        <p class="NewsContainer_Paragraph__Text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut quos sunt officiis, reprehenderit a unde harum placeat quam pariatur soluta magnam quaerat saepe iusto rem earum, alias at hic!</p>
    </div>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <div class="NewsContainer_ReferenceContainer">
        <a href="#" class="NewsContainer__Reference"> Ссылка на источник </a>
        <a href="#" class="NewsContainer__Reference"> Ссылка на источник </a>
    </div>
</div>
