@{
    ViewData["Title"] = "Watch the News Page";
}
@using NewsSite.BL.DTOModels;
@model DTONews_Text;

<head>
    <link rel="stylesheet" href="../css/WatchStyles.css">
</head>
<div class="NewsContainer">
    <div class="NewsContainer_TitleContainer">
        <h1 class="NewsContainer__Title"> @Model.Title </h1>
    </div>
    @foreach (var paragraph in Model.Paragraphs)
    {
        <div class="NewsContainer_Paragraph">
            <p class="NewsContainer_Paragraph__Text"> @paragraph </p>
        </div>
    }
</div>
