@import "../css/NullStyle.css";

$TextColor: black;
$BorderColor: black;
$BackgroundColor: #DCDCDC;
$SecondBackgroundColor: #CDCBCB;

body{
	font-family: ms sans serif;
}

header{
	padding: 10px 0px 20px 0px;
	min-height: 70px;
	min-width: 100%;

	.Title_Container{
		display: flex;
		justify-content: center;

		.Title_Container_Title{
			font-size: 40px;
			font-family: Bahnschrift;
		}
	}
	.NavigationMenu{
		display: flex;
		justify-content: center;

		min-width: 100%;

		background-color: $SecondBackgroundColor;
		.NavigationMenu_ButtonContainer{
			margin: 0 5px;

			border-left: solid 2px $BorderColor;
			border-right: solid 2px $BorderColor;

			.NavigationMenu_Button{
				text-decoration: none;
				color: $TextColor;

				margin: 0px 5px;
			}
		}
	}
}

.LayoutBody {
	display: flex;
	flex-direction: column;

	background-color: $BackgroundColor;

	font-size: 30px;

	min-height: 100vh;

	.MainContentContainer{
		display: flex;
		flex-direction: column;

		flex-grow: 1;

		.NewsBlock_Container{
			display: flex;
			justify-content: center;

			min-width: 100%;

			.NewsBlock{
				display: flex;
				flex-direction: column;

				min-width: 80%;

				.NewsBlock_Item{
						display: flex;
						flex-direction: column;
						justify-content: center;
						
						background-color: $SecondBackgroundColor;

						margin: 10px 0px;
						padding: 5px 0px;

						.NewsBlock_Item__Ref{
							display: flex;
							justify-content: center;

							.NewsBlock_Item__Ref__Title{
								color: $TextColor;

								font-size: 40px;
							}
						}
					}
			}
		}
	}
}

footer{
	min-height: 10%;

	border-top: solid 0.5px $BorderColor;

	font-size: 20px;

	background-color: $SecondBackgroundColor;
}
