@import "../css/DefaultStyles.css";

.RegistrationGreetingContainer{
	display: flex;
	justify-content: center;

	height: 10%;
	width: 100%;
}

.FormContainer{
	display: flex;

	flex: 1 0 auto;

	max-height: 30%;

	.AddNewObjectForm {
		display: flex;
		flex-direction: column;
		justify-content: center;

		flex: 1 0 auto;
		
		.AddNewObjectForm_ButtonContainer{
			display: flex;
			justify-content: center;

			margin: 5px 5px;

			.InputFile{
				opacity: 0;
  				visibility: hidden;
  				position: absolute;
			}
			.InputFile_Lable{
				background-color: #C0C0C0;
			}
		}	
	}
}
