@import "../css/DefaultStyles.css";

.RegistrationGreetingContainer{
	display: flex;
	justify-content: center;

	height: 10%;
	width: 100%;
}

.FormContainer{
	display: flex;

	flex: 1 0 auto;

	.AddNewObjectForm {
		display: flex;
		flex-direction: column;
		margin-left: 30%;
		.RegistredForm_ButtonContainer{
			display: flex;
			background-color: rgb(80%, 80%, 80%);
			padding: 10px 50px;
			margin: 7px 10px;

			.RegistredForm_ButtonContainer__PreInputText{
				margin-right: 12px;
			}
			.RegistredForm_ButtonContainer__Input{
				font-size: 20px;
			}
		}
		.RegistredForm_SubmitContainer{
			display: flex;
			justify-content: center;

			background-color: rgb(80%, 80%, 80%);
			margin: 7px 10px;

			.RegistredForm_SubmitContainer__SubmitButton{
				font-size: 35px;
				background-color: rgb(80%, 80%, 80%);
			}
		}
	}
}
