@import "DefaultStyles.scss";

.NewsContainer {
	display: flex;
	flex-direction: column;

	margin: 0 auto;

	max-width: 90%;

	align-items: center;
	justify-content: center;

	.NewsContainer_Paragraph{
		display: flex;
		flex-direction: column;

		align-items: center;

		margin: 10px 0px 20px;

		.NewsContainer_Paragraph__Title{
			font-size: 40px;

			margin: 0px 0px 10px;
		}

		.NewsContainer_Paragraph__Text{
			display: block;
		}
	}
}

.NewsContainer_TitleContainer{
	font-size: 50px;

	margin: 0px 0px 30px;
}
