@inherits LayoutComponentBase

<link rel="stylesheet" href="../css/DefaultStyles.css">
<header>
    <div class="Title_Container">
        <a href="/" class="Title_Container_Title">The NewsSite</a>
    </div>
    <NavMenu />
</header>
<main role="main" class="main">
    @Body
</main>

<footer>
    <AuthorInfo />
</footer>
