<nav class="NavigationMenu">
    <div class="NavigationMenu_ButtonContainer">
        <NavLink href="/Registration" class="NavigationMenu_Button"> Регистрация </NavLink>
    </div>
    <div class="NavigationMenu_ButtonContainer">
        <NavLink href="/AddNews" class="NavigationMenu_Button"> Добавить новость </NavLink>
    </div>
</nav>