@import "../css/NullStyle.css";
header {
  min-height: 70px;
  min-width: 100%;
}
header .Title_Container {
  display: flex;
  justify-content: center;
}
header .NavigationMenu {
  display: flex;
  justify-content: center;
  min-width: 100%;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  background-color: #C0C0C0;
}
header .NavigationMenu .NavigationMenu_ButtonContainer .NavigationMenu_Button {
  font-size: 100%;
  text-decoration: none;
  color: black;
  margin: 0px 7px;
}

.LayoutBody {
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  font-size: 30px;
  min-height: 100vh;
}
.LayoutBody .MainContentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.LayoutBody .MainContentContainer .NewsBlock_Container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.LayoutBody .MainContentContainer .NewsBlock_Container .NewsBlock {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}
.LayoutBody .MainContentContainer .NewsBlock_Container .NewsBlock .NewsBlock_Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  flex-grow: 1;
}

footer {
  min-height: 10%;
  border-top: solid 0.5px black;
  font-size: 20px;
  background-color: #C0C0C0;
}