@import "../css/DefaultStyles.css";
.RegistrationGreetingContainer {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.FormContainer {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  max-height: 50%;
}
.FormContainer .RegistredForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}