@import "../css/DefaultStyles.css";
.RegistrationGreetingContainer {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.FormContainer {
  display: flex;
  flex: 1 0 auto;
}
.FormContainer .AddNewObjectForm {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
.FormContainer .AddNewObjectForm .RegistredForm_ButtonContainer {
  display: flex;
  background-color: #cccccc;
  padding: 10px 50px;
  margin: 7px 10px;
}
.FormContainer .AddNewObjectForm .RegistredForm_ButtonContainer .RegistredForm_ButtonContainer__PreInputText {
  margin-right: 12px;
}
.FormContainer .AddNewObjectForm .RegistredForm_ButtonContainer .RegistredForm_ButtonContainer__Input {
  font-size: 20px;
}
.FormContainer .AddNewObjectForm .RegistredForm_SubmitContainer {
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  margin: 7px 10px;
}
.FormContainer .AddNewObjectForm .RegistredForm_SubmitContainer .RegistredForm_SubmitContainer__SubmitButton {
  font-size: 35px;
  background-color: #cccccc;
}