@using NewsSite.BL.DTOModels;
@model IEnumerable<DTONews>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="NewsBlock_Container">
    <ul class="NewsBlock">
        @foreach (var newsItem in Model)
         {
            <li class="NewsBlock_Item">
                <a href="/News/Watch?newsName=@newsItem.GetName()"
                   class="NewsBlock_Item__Ref">

                   <span class="NewsBlock_Item__Ref__Title">@newsItem.GetName()</span>
                </a>
            </li>
         }
    </ul>
</div>
